# Ignore these eclipse files
.classpath
.project
.settings
*.swp
target
*META-INF*
Thumbs.db
temp-testng-customsuite.xml
test-output
.DS_Store
*.class
*/target-eclipse
*.patch
*.diff
*dso-boot-hotspot_*.jar
web-app/plugins/*
plugins/*
*.idea
*stacktrace.log
*.iml
*.ipr
*.iws
stacktrace.log
.metadata
out/*
**/classes
logs/*
*/logs/*
.gradle/*
*/build
build/*
classes/*
*.uml
*~
